#contact{
    min-height: 50vh;
    padding: 10px;
    text-align: center;
    color:white;
    margin-top:30px;
}
#contact h2{
    text-align:center;
    color:#12f7ff;
}
#contact h2:hover{
   
    text-shadow:0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6);;

}
  .container1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color:#250821;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container1 h3{
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}
  label {
    display: block;
    margin-bottom: 5px;
    color:white;
    text-align: left;
  }
  
  input,textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    display: inline-block;
    padding: 12px 24px;
    height: 40px;
    width: 20%;
    border: none;
    background-color: #12f7ff;
    color: black;
    cursor: pointer;
  }
  input[type="submit"]:hover{
    background-color: white;
  }.Contact-info p{
    margin-bottom: 10px;
    color:white;
    text-align: center;
}
.Contact-info {
  padding: 15px; 
}
.Contact-info h3 {
  color:white; 
}
.Contact-info p {
  margin: 10px 0; 
}
.container1 img{
  width: 30px;
 height: 30px;
}
.icon {
  width: 25px;
  height: 25px; 
  margin-right: 5px;
}
  @media(max-width:600px){
    input[type="submit"] {
        display: inline-block;
        padding: 12px 24px;
        height: 40px;
        width: 40%;
        border: none;
        background-color: #12f7ff;
        color: black;
        cursor: pointer;
      }
      input[type="submit"]:hover{
        background-color: white;
      }
      .container1 img{
        width: 30px;
       height: 30px;
      }
    }
