#more_info{
    margin-top: 50px;
    color:white;
    
}
#more_info h2{
    text-align:center;
    color:#12f7ff;
}
#more_info h2:hover{
       
        text-shadow:0 0 10px rgba(18,247,255,0.6),
        0 0 20px rgba(18,247,255,0.6),
        0 0 30px rgba(18,247,255,0.6),
        0 0 40px rgba(18,247,255,0.6),
        0 0 70px rgba(18,247,255,0.6),
        0 0 80px rgba(18,247,255,0.6);;
    
    }
    #more_info p{
        text-align: center;
    }
    footer {
        background-color:#12f7ff;
        color:black;
        padding:10px;
        position: relative;
        left:0;
        right:0;
        bottom:0;
        width: 100%;
        text-align: center;
    }
    @media(max-width:600px){
           div#more_info {
            width:60%;
             margin-bottom: 0; 
             text-align: center;
            margin-left:60px;
             }
           }
     